body {
  font-family: "Mukta Malar", sans-serif;
}


.WeatherApp {
  text-align: center;
  margin: 10px auto;
  color: rgb(254, 254, 254);
  border-radius: 40px;
  background: linear-gradient(
    350.6deg,
    rgba(232, 237, 240, 0.814) 11.2%,
    rgba(18, 113, 255, 0.87) 100.2%
  );
}

searchForm {
  display: block;
  margin: 20px auto;
  box-shadow: 1px 2px 4px rgb(42, 88, 158, 0.844);
}

input {
  padding: 12px;
  margin: 5px;
  border-radius: 18px;
  font-size: 18px;
  border: 1px solid rgba(67, 117, 192, 0.844);
  box-shadow: 2px 2px 5px rgba(67, 117, 192, 0.844);
}

