body {
  font-family: "Mukta Malar", sans-serif;
}

.WeatherAppBody {
  text-align: center;
  margin: 10px auto;
  color: rgb(255, 255, 255);
  border-radius: 40px;
  background-image: url("Fall\ .jpg");
  max-width: 700px;
}
.WeatherApp {
  margin: 5px auto;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50px;
}
searchForm {
  display: block;
  margin: 10px auto;
  box-shadow: 1px 2px 4px rgba(164, 90, 26, 0.92);
}

input {
  padding: 10px;
  border-radius: 18px;
  font-size: 18px;
  border: 1px solid rgb(101, 62, 15);
  box-shadow: 1px 2px 4px rgba(164, 90, 26, 0.92);
}
h3 {text-align: left; padding: 8px;
background: rgba(238, 206, 176, 0.286); border-radius: 8px;}