.WeatherInfo ul {
  color: #ffffff;
}
li {
  list-style: none;
  font-size: 14px;
  text-align: left;
}
.WeatherApp .Temp {
  font-size: 45px;
  text-align: left;
}
.WeatherApp .unit {
  text-shadow: none;
  font-size: 10px;
  position: relative;
  top: -20px;
}

.WeatherTemperature {
  text-align: center;
}
