.WeatherTemperature {
  text-align: center;
}
.WeatherInfo ul {
  color: #2d20eb;
}
li {
  list-style: none;
  font-size: 16px;
  text-align: left;
}
.WeatherApp .Temp {
  font-size: 45px;
  color: #2d20eb;
  text-align: left;
}
.WeatherApp .unit {
  color: #2d20eb;
  text-shadow: none;
  font-size: 12px;
  position: relative;
  top: -20px;
}

.WeatherTemperature {
  text-align: center;
}
.WeatherInfo ul {
  color: #2d20eb;
}
